<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tddp2.grupo2.linkup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".LinkupApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_linkup"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCtxGa-VoJj88oImC6a1xXzS08SFl5r-gE"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LinksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LinkProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PremiumAdviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PremiumPayFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PremiumCreditCardPayFormActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PremiumPayPalLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PremiumPayPalPayFormActivity"
            android:screenOrientation="portrait" />
        <service
            android:name="com.tddp2.grupo2.linkup.service.api.FetchAddressIntentService"
            android:exported="false"/>

        <service android:name=".infrastructure.messaging.LinkupMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".infrastructure.messaging.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".infrastructure.messaging.PushReceiverIntentService"></service>

        <service android:name=".infrastructure.messaging.PushIntentService"></service>

        <receiver
            android:name=".infrastructure.messaging.PushReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="0">
                <action android:name="io.esparta.notifications.BROADCAST_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>